<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Activation</title>
</head>
<body>
    <h1>Welcome to IrisGlow - Your Account Has Been Activated</h1>
    <p>Dear {{ user.first_name }},</p>
    <p>Your IrisGlow account has been successfully activated for the following reason:</p>
    <p>{{ reason }}</p>
    <p>You can now access your account and enjoy our services. If you have any questions or need further assistance, please feel free to contact our support team.</p>
</body>
</html>

