{% comment %} {% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>User Profiles</title>
</head>
<body>


    <h1>User Profiles</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>User Type</th>
            </tr>
        </thead>
        <tbody>
            {% for user_profile in user_profiles %}
            <tr>
                <td>{{ user_profile.username }}</td>
                <td>{{ user_profile.email }}</td>
                <td>{{ user_profile.user_type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html> {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
</head>
<meta charset="utf-8">
    <title>IrisGlow - Eye Care Hospital Website </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/twentytwenty/twentytwenty.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>


<body>
    <h1>IrisGlow Users Data</h1>
    <style>
        /* Inline CSS styles */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }
    </style>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Status</th> 
                <th>Action</th> 

            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                
                

                <td>
                    {% if user.is_active %}
                    <span style="color: green;">
                        <i class="bi bi-circle-fill"></i> Active
                    </span>
                    {% else %}
                    <span style="color: red;">
                        <i class="bi bi-circle-fill"></i> Inactive
                    </span>
                    {% endif %}
                </td>
                <td class="cell" style="border: .5px solid rgb(186, 240, 186); ">
                    {% if user.id != request.user.id %} {# Check if the user is not the currently logged-in admin user #}
                    <a href="{% url 'updateStatus' user.id %}"><button
                      class="btn btn-primary"><i class="bi bi-pencil-square"></i></button></a>
                      {% else %}
                <!-- Display a message or handle as desired for the admin user -->
                <span>This is the admin user</span>
            {% endif %}
                    </td>
        </tr>
        {% endfor %}

        </tbody>
    {% comment %} </table>
    <br>
    <br>
    <h2>Deactivated Users</h2>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Status</th>
            </tr>
        </thead> {% endcomment %}
        {% comment %} <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>
                    {% if user.inactive_users %}

                    <span style="color: red;">
                        <i class="bi bi-circle-fill"></i> Inactive
                    </span>
                    
                    {% else %}
                    

                    <span style="color: green;">
                        <i class="bi bi-circle-fill"></i> Active
                    </span>
                    {% endif %}
                </td>
                <td class="cell" style="border: .5px solid rgb(186, 240, 186); ">
                    <a href="{% url 'updateStatus' user.id %}"><button
                      class="btn btn-primary"><i class="bi bi-pencil-square"></i></button></a>
                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table> {% endcomment %}
</body>
</html>
